.container {
  color: beige;
  background-color: rgb(43, 24, 90);
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1 {
  font-size: 50px;
}
h3 {
  font-size: 35px;
}
h4 {
  font-size: 60px;
}
h5 {
  font-size: 22px;
}
h6 {
  font-size: 20px;
  text-transform: capitalize;
}
p {
  font-size: 20px;
}
.fa-sun {
  color: orange;
}
.fa-cloud-sun {
  color: gold;
}

#current-location {
  width: 100px;
}
